@page "/maintracker"

@using FitnessTracker.Data

<h1>BeepBop</h1>

<p>Short people need to be judged</p>

<div class="numberCircle">1</div>
<div class="numberCircle">12</div>
<div class="numberCircle">30</div>